{% extends 'base.html'%}

{% block title %} Administração{% endblock %}

{% block main %}

    <div class="row">
        <div class="col">

        </div>
        <div class="col-6">
            <H3>Listagem de Clientes</H3>
            <ul class="list-group">
                {% for person in persons %}

                     <li class="list-group-item">
                         <a href="{% url 'person_update' person.id %}">{{ person.first_name }}</a>
                         <a href="{% url 'person_delete' person.id %}" class=" trash-item btn btn-danger">
                             <i class="fa fa-trash" aria-hidden="true"></i>
                         </a>
                     </li>

                 {% endfor %}
            </ul>

            <a href="{% url 'person_new' %}" class="btn btn-primary"> Novo Cliente</a>

        </div>
        <div class="col">
            {% if user.is_authenticated %}
            <p>Olá {{ user.username }}
                <a href="{% url 'logout' %} " <span class="badge badge-dark">Sair</span></a>
            </p>

            {% endif %}
        </div>
    </div>

{% endblock %}

{% block footer%}
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Desenvolvimento web com Django.</span>
      </div>
    </footer>
{% endblock %}